* {
    box-sizing: border-box;
}

/* Buttons */

.btn {
    cursor: pointer;
}

.undo {
    background: rgb(249, 145, 80);
}

.redo {
    background: rgb(80, 207, 249);
}

/*************/
/* Home Page */
/*************/

#note_list {
    height: auto;
    width: 200px;
    border: 2px solid black;
    text-align: center;
}

#note_list_header {
    font-size: 22px;
    border : 2px solid black;
    background : rgb(129, 235, 228);
}

#search {
    width: 95%;
    margin-bottom: 5px;
}

.saved_note {
    height: auto;
    width: 196px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
}

.saved_note:hover {
    background: rgb(134, 206, 251);
}

.notification {
    height: auto;
    width: auto;
    border: 2px solid black;
    color: dimgray;
    font-style: italic;
}
