* {
    box-sizing: border-box;
}

/* Buttons */

.btn {
    cursor: pointer;
}

/*************/
/*   Style   */
/*************/

body {
    background: gray;
}

.container {
    border : 4px solid rgb(77, 77, 3);
    padding: 5px;
    border-radius: 10px;
    background: rgb(184, 184, 25);
    position: relative;
    left: 50%;
    top: 50px;
    transform: translate(-50%,0);
    /* text-align: center; */
    width: 250px;
    height: auto;
}

/*************/
/* Home Page */
/*************/

#note_list {
    height: auto;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background : rgb(230, 228, 228);
}

#note_list_header {
    font-size: 22px;
    border : 2px solid black;
    background : rgb(156, 246, 230);
}

.saved_note {
    height: auto;
    width: auto;
    border: 2px solid black;
    cursor: pointer;
}

.saved_note:hover {
    background: rgb(134, 206, 251);
}

#content {
    width: 100%;
    height: 100px;
}
